body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #222222;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div {
    box-sizing: border-box;
}
.search_index {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 320px;
    max-width: 540px;
    height: 44px;
    background-color: #f6f6f6;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    display: flex;
}
.search {
    position: relative;
    height: 26px;
    line-height: 24px;
    border: 1px solid #cccccc;
    flex: 1;
    font-size: 12px;
    color: #666666;
    margin: 7px 10px;
    border-radius: 5px;
    padding-left: 25px;
    box-shadow:0 2px 4px rgba(0, 0, 0, .2) ;
}
.search::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../img/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;

}
.user {
    width: 44px;
    height: 42px;
    background-color: #f2f2f2;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    background: url(../img/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 4px auto -2px;
}
.focus img{
    width: 100%;
    margin-top: 44px;
}
.local_nav {
    height: 64px;
    background-color: #fff;
    margin: 3px 4px;
    border-radius: 8px;
    display: flex;
}
.local_nav li {
    flex: 1;
}
.local_nav a {
    display: flex;
    flex-direction: column; 
    /* 把主轴设置为y轴 */
    align-items: center; /* 侧轴居中对齐，用这个是因为单行*/
}
.local_nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    /* background-color: aqua; */
    background: url(../img/localnav_bg.png) no-repeat 0 0;
    margin-top: 8px;
    background-size: 32px auto;
}
.local_nav li .local-nav-icon-icon2 {
   background-position:  0 -32px;
}
.local_nav li .local-nav-icon-icon3 {
    background-position:  0 -64px;
 }
 .local_nav li .local-nav-icon-icon4 {
    background-position:  0 -96px;
 }
 .local_nav li .local-nav-icon-icon5 {
    background-position:  0 -128px;
 }
 nav {
     overflow: hidden;
     margin: 0 3px 4px;
     border-radius: 8px;
     
 }
 .nav-common {
     height: 88px;
     background-color: aqua;
     display: flex;
 }
 .nav-common:nth-child(1) {
     /* 背景渐变 */
     background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
 }
 .nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
 .nav-common:nth-child(2) {
     margin: 3px 0;
 }
 .nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;

 }
 .nav-items a {
     flex: 1;
     line-height: 44px;
     text-align: center;
     color: #fff;
     font-size: 14px;
     text-shadow: 1px 1px rgba(0, 0, 0, .2);
 }
 .nav-items a:nth-child(1) {
     border-bottom: 1px solid #fff;
 }
 .nav-items:nth-child(1) a {
     border-bottom: 0;
     background: url(../img/hotel.png) no-repeat bottom center;
     background-size: 121px auto;
 }
 /* -n+2就是选择前两个元素 */
 .nav-items:nth-child(-n+2) {
     border-right: 1px solid #fff;
 }
 .subnav-entry {
     display: flex;
     border-radius: 8px;
     background-color: #fff;
     margin: 0 4px;
     flex-wrap: wrap;
 }
 .subnav-entry li {
     /* 里面的子盒子可以写% 相对于父级而言 */
     flex: 20%;
 }
 .subnav-entry a {
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 .subnav-entry li [class^="subnav-entry-icon"]{
     width: 28px;
     height: 28px;
     background-color: aqua;
     margin-top: 4px;
     background: url(../img/subnav-bg.png) no-repeat 0 0;
     background-size: 28px auto;
 }
 .subnav-entry li .subnav-entry-icon-icon2 {
     background-position: 0 -28px;
 }
 .subnav-entry li .subnav-entry-icon-icon3 {
    background-position: 0 -60px;
}
.subnav-entry li .subnav-entry-icon-icon4 {
    background-position: 0 -98px;
}
.subnav-entry li .subnav-entry-icon-icon5 {
    background-position: 0 -129px;
}
.subnav-entry li .subnav-entry-icon-icon6 {
    background-position: 0 -163px;
}
.subnav-entry li .subnav-entry-icon-icon7 {
    background-position: 0 -198px;
}
.subnav-entry li .subnav-entry-icon-icon8 {
    background-position: 0 -229px;
}
.subnav-entry li .subnav-entry-icon-icon9 {
    background-position: 0 -259px;
}
.subnav-entry li .subnav-entry-icon-icon10 {
    background-position: 0 -287px;
}
.sales-box {
    border-top: 1px solid #cccccc;
    background-color: #fff;
}
.sales-hd {
    position: relative;
    border-bottom: 1px solid #cccccc;
    height: 44px;
}
.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: '';
    width: 79px;
    height: 15px;
    background: url(../img/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more {
    position: absolute;
    top: 0px;
    right: 8px;
    background: -webkit-linear-gradient(left,#ff506c,#ff6bc6);
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
    color: #ffffff;
}
.more::after {
    content: '';
    position: absolute;
    top: 7px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transform: rotate(45deg);
}
.row {
    display: flex;
}
.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}
.row a:nth-child(1) {
    border-right: 1px solid #eee;
}
.row a img {
    width: 100%;
}